body {
    font-family: Arial, sans-serif;
    background-color: #f9f9f9;
    text-align: center;
    margin: 0;
    padding: 0;
}

/* HEADER */
header {
    background-color: 	#b5b5db;
    color: white;
    padding: 5px 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo img {
    width: 60px;
    height: 60px;
    border-radius: 5px;
}

.site-title {
    flex: 1;
    text-align: center;
    font-size: 2.8em;
    font-family: "Nunito", sans-serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
}

.auth-buttons {
    display: flex;
    gap: 15px;
}

.auth-buttons a {
    text-decoration: none;
    color: white;
    padding: 8px 15px;
    background-color: 	#7B68EE;
    border-radius: 5px;
    transition: background-color 0.2s;
    font-family: "Nunito", sans-serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
}

.auth-buttons a:hover {
    background-color: 	#B0C4DE;
}

/* THEMES */
main {
    margin-top: 50px;
}

.themes {
    display: flex;
    justify-content: center;
    gap: 50px;
    margin-bottom: 50px;
}

.theme-card {
    border: none;
    border-radius: 10px;
    padding: 0;
    width: 260px;
    background-color: white;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s, box-shadow 0.2s;
    cursor: pointer;
    overflow: hidden;
}

.theme-card:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
}

.theme-card img {
    width: 100%;
    height: 170px;
    object-fit: cover;
    border-bottom: 1px solid #ddd;
}

.theme-card h3 {
    margin: 10px 0 5px;
    color: #333;
}

.theme-card p {
    font-size: 0.9em;
    padding: 0 10px 15px;
    color: #555;
}

h1 {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif ;
}

h2 {
    font-family: "Nunito", sans-serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
  margin-bottom: 20px;
  margin-top: -20px;
}

